<mat-drawer-container class="main-container" autosize [hasBackdrop]="false">
  <mat-drawer #drawerleft class="left-sidenav" mode="side" opened>
    <mat-toolbar class="logo">AUVICE</mat-toolbar>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>dashboard</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li routerLinkActive="active-link">
            <mat-icon>radio_button_unchecked</mat-icon>
            <a routerLink="/dashboard"> Dashboard</a>
          </li>
          <li routerLinkActive="active-link">
            <mat-icon>radio_button_unchecked</mat-icon>
            <a routerLink="/heroes"> Heroes</a>
          </li>
          <li routerLinkActive="active-link">
            <mat-icon>radio_button_unchecked</mat-icon>
            <a routerLink="/dashboard2"> Dashboard2</a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>menu</mat-icon>
            Dashboards
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="menu-items">
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
          <li>
            <mat-icon>circle</mat-icon><a href="#"> Dashboard 1 </a>
          </li>
        </ul>
      </mat-expansion-panel>

    </mat-accordion>


  </mat-drawer>
  <mat-drawer #drawerright class="right-sidenav" mode="over" color="primary" position="end">
  </mat-drawer>

  <div class="main">
    <mat-toolbar class="header" color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="drawerleft.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink="/home">
        <mat-icon>home</mat-icon>
      </a>

      <!-- <span>My App</span> -->
      <div class="search-form-field" appearance="fill" [@visibilityChanged]="searchVisibility">
        <!-- <mat-label>Clearable input</mat-label> -->
        <input matInput type="text" [(ngModel)]="searchValue" placeholder="Search">
        <button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="searchValue=''">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <span class="spacer-horizontal"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="toggleSerchfield()">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>forum</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>notifications</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        (click)="drawerright.toggle()">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-toolbar>
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </div>

  <mat-toolbar class="footer">
    <span>AUVICE</span>
  </mat-toolbar>

</mat-drawer-container>