<mat-toolbar class="content-header">
  <h1 class="content-title">Home</h1>
  <span class="spacer-horizontal"></span>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    </ol>
  </nav>
</mat-toolbar>

<main class="content-warapper">

  <audio controls>
    <source  type="audio/mpeg"  [src]="fileSource" >
  </audio>
  <!-- <mat-card> -->
  <div class="demo-button-container">
    <mat-form-field appearance="fill" style="width: 200px;">
      <mat-label>Language</mat-label>
      <mat-select [(value)]="selectedLanguage" (selectionChange)="loadEditions()">
        <mat-option *ngFor="let lang of langs" [value]="lang">
          {{languageNames.of(lang)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Edition</mat-label>
      <mat-select [(value)]="selectedEdition" (selectionChange)="getEdition()">
        <mat-option *ngFor="let edition of editions" [value]="edition.identifier">
          {{edition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="openPDF()" class="demo-button">
      Save PDF
    </button>
    <button mat-raised-button (click)="getMeta()" class="demo-button">
      getChapters
    </button>

  </div>
  <div id="content" #content>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter Table Rows" #input>
    </mat-form-field>
    <table #table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" matSort>
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20px;">No.</th>
        <td mat-cell *matCellDef="let element" style="text-align: end; padding-right: 20px;">{{element.number}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element" style="direction: rtl;">{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="englishName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>English Name</th>
        <td mat-cell *matCellDef="let element">{{element.englishName}}</td>
      </ng-container>
      <ng-container matColumnDef="englishNameTranslation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>English Name Translation</th>
        <td mat-cell *matCellDef="let element">{{element.englishNameTranslation}}</td>
      </ng-container>
      <ng-container matColumnDef="numberOfAyahs">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 115px;">Number Of Ayahs</th>
        <td mat-cell *matCellDef="let element" style="text-align: end; padding-right: 20px;">{{element.numberOfAyahs}}</td>
      </ng-container>
      <ng-container matColumnDef="revelationType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Revelation Type</th>
        <td mat-cell *matCellDef="let element">{{element.revelationType}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100, 150]" aria-label="Select page of users"></mat-paginator>
  </div>
  <!-- </mat-card> -->
</main>