<mat-toolbar class="content-header">
  <h1 class="content-title">Dashboard1 </h1>
  <span class="content-description">Dashboard1 New Dash</span>
  <span class="spacer-horizontal"></span>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/dashboards">Dashboards</a></li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard1</li>
    </ol>
  </nav>
</mat-toolbar>

<main class="content-warapper">
  <table class="grid-list">
    <tr>
      <td>
        <mat-card class="example-card">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </td>
      <td>
        <mat-card class="example-card">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </td>
    </tr>
    <tr>
      <td>
        <mat-card class="example-card">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </td>

      <td>
        <mat-card class="example-card">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          <mat-card-content>
            <p>This card has divider and indeterminate progress as footer</p>
            <p>{{ longText }}</p>
          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </td>
    </tr>
  </table>
</main>